﻿@model DataAccessLibrary.Models.TipoImovel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Tipo de Imóvel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Subtipo de
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubTipo.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TipoImovelID }) |
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
