body {
    margin: 0px;
}

table {
    overflow: auto;
    display: block;
}

img {
    max-width: 100px;
    max-height: 100px;
}

input:not([type="checkbox"]) {
    width: 75%;
    background-color: white;
    border-radius: 7px;
    border: solid white;
    text-align: left;
}

label {
    display: inline-block;
}

td.tdresults {
    width: 250px;
    height: 250px;
}

.divContainer {
    width: 90%;
    margin: auto;
}

.divPesquisa {
    float: left;
    color: white;
    background: #333;
    text-align: left;
    margin: 1%;
    padding: 15px;
    width: 43%;
    height: 550px;
    border-radius: 7px;
    overflow: auto;
}

.divResultados {
    float: left;
    color: white;
    background: #333;
    text-align: left;
    margin: 1%;
    padding: 15px;
    width: 43%;
    height: 550px;
    border-radius: 7px;
    overflow: auto;
}

@media screen and (max-heigth: 400px) {
    body {
        margin: 0px;
    }
    header h1 {
        margin: 5px;
        padding: 7px;
        text-align: center;
    }
    header h3 {
        color: white;
        background: #333;
    }
    p {
        text-align: left;
    }
    img {
        max-width: 50px;
        max-height: 50px;
    }
    input:not([type="checkbox"]) {
        width: 75%;
        background-color: white;
        border-radius: 7px;
        border: solid white;
        text-align: left;
    }
    table td {
        float: left;
    }

    .divContainer {
        width: 100%;
        margin: auto;
        border: none;
    }
    .divPesquisa {
        float: left;
        color: white;
        background: #333;
        text-align: left;
        margin: .5%;
        padding: 5px;
        width: 45%;
        height: 550px;
        border-radius: 7px;
        border: none;

    }
    .divResultados {
        float: left;
        color: white;
        background: #333;
        text-align: left;
        margin: .5%;
        padding: 5px;
        width: 45%;
        height: 550px;
        border-radius: 7px;
        border: none;

    }
}
