﻿@using ImobiliariaIteracao3.Helpers
@{
    var session = HttpContext.Current.Session;
    if (session["token"] != null)
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Olá " + WebApiHttpClient.getToken().Username + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>
                @Html.ActionLink("Sair", "LogOffMVersion", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Registar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

        </ul>
    }
}
