﻿@model ImobiliariaIteracao3.Models.Anuncio

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que pretende apagar isto?</h3>
<div>
    <h4>Anúncio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoAnuncio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoAnuncio)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.TipoImovel.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imovel.TipoImovel.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.Localizacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imovel.Localizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imovel.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.GPS.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imovel.GPS.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.GPS.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imovel.GPS.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.GPS.Altitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imovel.GPS.Altitude)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à Lista", "Index")
        </div>
    }
</div>
