﻿@model IEnumerable<DataAccessLibrary.Models.Anuncio>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Anúncios";
}

<h2>Anúncios</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoAnuncio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imovel.TipoImovel.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imovel.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imovel.Localizacao)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAnuncio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imovel.TipoImovel.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imovel.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imovel.Localizacao)
        </td>
        <td>
            @{
                if (item.UserID == User.Identity.GetUserId())
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.AnuncioID })
                    @Html.ActionLink(" Apagar", "Delete", new { id = item.AnuncioID })
                }
            }
            @Html.ActionLink("Detalhes", "Details", new { id = item.AnuncioID })
        </td>
    </tr>
}

</table>
