﻿@model ImobiliariaIteracao3.Models.ApplicationUser

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User Role</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AccessFailedCount)
        @Html.HiddenFor(model => model.Claims)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.EmailConfirmed)
        @Html.HiddenFor(model => model.LockoutEnabled)
        @Html.HiddenFor(model => model.LockoutEndDateUtc)
        @Html.HiddenFor(model => model.Logins)
        @Html.HiddenFor(model => model.PasswordHash)
        @Html.HiddenFor(model => model.PhoneNumber)
        @Html.HiddenFor(model => model.PhoneNumberConfirmed)
        @Html.HiddenFor(model => model.Roles)
        @Html.HiddenFor(model => model.SecurityStamp)
        @Html.HiddenFor(model => model.TwoFactorEnabled)
        @Html.HiddenFor(model => model.UserName)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.UserName
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.Email
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @{
                    var count = 0;

                    if (Model.Roles.Count() > 0)
                    {
                        foreach (var r in Model.Roles)
                        {
                            foreach (var r2 in ViewBag.Roles)
                            {
                                if (r.RoleId == r2.Id && r2.Name == "Mediador")
                                {
                                    <input type="submit" value="Demover" class="btn btn-default" />
                                    count++;
                                }
                            }
                        }
                        if (count == 0)
                        {
                            <input type="submit" value="Promover" class="btn btn-default" />
                        }
                    }
                    else
                    {
                        <input type="submit" value="Promover" class="btn btn-default" />
                    }
                }
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Voltar à Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}