﻿@model IEnumerable<ImobiliariaIteracao3.Models.ApplicationUser>

@{
    ViewBag.Title = "Gestão de Mediadores";
}

<h2>Utilizadores</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>


