﻿@model IEnumerable<ImobiliariaIteracao2.Models.Foto>

@{
    ViewBag.Title = "Fotografias";
}

<h2>Fotografias</h2>

<p>
    @Html.ActionLink("Adicionar Fotografia", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fotografia
        </th>
        <th>
            Imóvel
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.url)" heigth="100px" width="100px" />
        </td>
        <td>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Imovel.TipoImovel.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.Imovel.TipoImovel.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Imovel.Localizacao)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.Imovel.Localizacao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Imovel.Area)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.Imovel.Area)
                </dd>

            </dl>
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Voltar à Lista", "../Imovel/Index")
</div>
