﻿@model DataAccessLibrary.Models.Foto

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que pretende apagar isto?</h3>
<div>
    <h4>Fotografia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            URL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.TipoImovel.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imovel.TipoImovel.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imovel.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.Localizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imovel.Localizacao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à Lista", "Index")
        </div>
    }
</div>
