﻿@model ImobiliariaIteracao3.Models.Foto

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Fotografia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           URL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Imovel.TipoImovel.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imovel.TipoImovel.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imovel.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.Localizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imovel.Localizacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
