body {
    margin: 0px;
}

table {
    overflow: auto;
    display: block;
}

img {
    max-width: 50px;
    max-height: 50px;
}

input:not([type="checkbox"]) {
    width: 75%;
    background-color: white;
    border-radius: 7px;
    border: solid white;
    text-align: left;
}

label {
    display: inline-block;
}

td.tdresults {
    width: auto;
    height: auto;
}

.divContainer {
    width: 100%;
    margin: auto;
    border: none;
    overflow: hidden;
}

.divPesquisa {
    float: left;
    color: white;
    background: #333;
    text-align: left;
    margin: 1%;
    padding: 15px;
    width: 48%;
    height: 500px;
    border-radius: 7px;
    overflow: auto;
    border: none;
    
}

.divResultados {
    float: left;
    color: white;
    background: #333;
    text-align: left;
    margin: 1%;
    padding: 15px;
    width: 48%;
    height: 500px;
    border-radius: 7px;
    overflow: auto;
    border: none;

}

@media screen and (max-width: 800px) {
   .divPesquisa { 
        float: none;
        width:auto;
    }

    .divResultados { 
        float: none;
        width:auto;
    }   
}

@media screen and (max-height: 500px) {
   .divPesquisa { 
        float: none;
        width:auto;
        height: 200px;
    }

    .divResultados { 
        float: none;
        width:auto;
        height: 200px;
    }   
}