﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Imobiliária ARQSI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <!-- CSS para o Widget-->
    
    @RenderSection("Styles", false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Imobiliária ARQSI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   @{
                       if (Request.IsAuthenticated)
                       {
                           if (User.IsInRole("Admin"))
                           {
                            <li>@Html.ActionLink("Tipos de Imóvel", "Index", "TipoImovel")</li>
                           }
                           else
                           {
                            <li>@Html.ActionLink("Anúncios", "Index", "Anuncio")</li>
                            <li>@Html.ActionLink("Meus Imóveis", "Index", "Imovel")</li>
                            <li>@Html.ActionLink("Meus Alertas", "Index", "Alerta")</li>
                           }
                       }
                }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Imobiliária ARQSI</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
