﻿@{
    ViewBag.Title = "Home Page";
}

<body onload="iniciar('row');">

    <h2>Pesquisa</h2>
    <div id="row">

    </div>
</body>

@section Scripts {
    @Scripts.Render("~/Scripts/scriptWidget.js")
}

@section Styles {
    <link href="@Url.Content("~/Content/styleWidget.css")" rel="stylesheet" type="text/css" />
}