﻿@model DataAccessLibrary.Models.Imovel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Imóvel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.TipoImovel.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoImovel.Nome)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS.Altitude)
        </dd>

    </dl>
</div>
<div class="form-group">
    <table class="table">
        <tr>
            <td>
                @foreach (var item in Model.Fotos)
                {

                    <img src="@Url.Content(item.url)" heigth="200px" width="200px" />
                }
            </td>
        </tr>
    </table>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ImovelID }) |
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
