﻿@model IEnumerable<DataAccessLibrary.Models.Imovel>

@{
    ViewBag.Title = "Imóveis";
}

<h2>Imóveis</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<p>
    @Html.ActionLink("Fotografias", "../Foto/Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoImovel.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localizacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPS.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPS.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPS.Altitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoImovel.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localizacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPS.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPS.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPS.Altitude)
        </td>
       
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ImovelID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ImovelID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.ImovelID })
        </td>
    </tr>
}

</table>

