﻿@model IEnumerable<ImobiliariaIteracao2.Models.TipoImovel>

@{
    ViewBag.Title = "Tipos de Imóvel";
}

<h2>Tipos de Imóvel</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TipoImovelID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.TipoImovelID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.TipoImovelID })
        </td>
    </tr>
}

</table>
