﻿@model IEnumerable<DataAccessLibrary.Models.Alerta>

@{
    ViewBag.Title = "Alertas";
}

<h2>Alertas</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoImovel.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAnuncio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoImovel.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAnuncio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCriacao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AlertaID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.AlertaID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.AlertaID })
        </td>
    </tr>
}

</table>
