﻿@model ImobiliariaIteracao2.Models.Anuncio
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Anúncio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoAnuncio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoAnuncio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.TipoImovel.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imovel.TipoImovel.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.Localizacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imovel.Localizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imovel.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.GPS.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imovel.GPS.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.GPS.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imovel.GPS.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.GPS.Altitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imovel.GPS.Altitude)
        </dd>

    </dl>
</div>

<div class="form-group">
    <table class="table">
        <tr>
            <td>
                @foreach (var item in Model.Imovel.Fotos)
                {

                    <img src="@Url.Content(item.url)" heigth="200px" width="200px" />
                }
            </td>
        </tr>
    </table>
</div>

<p>
    @{
        if (Model.UserID == User.Identity.GetUserId())
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.AnuncioID })
        }
    }
    @Html.ActionLink(" Voltar à Lista", "Index")
</p>
